Nifi-Pipeline/Comparison_of_dates.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>a646d838-d647-36fc-9041-e02c92c651d0</groupId>
    <name>Comparison_of_dates</name>
    <snippet>
        <controllerServices>
            <id>9ce064f5-dbba-3aee-0000-000000000000</id>
            <parentGroupId>9f2e1d9b-3b05-30ca-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-hive-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0.1.0.0.0-90</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>hive-db-connect-url</key>
                    <value>
                        <name>hive-db-connect-url</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-config-resources</key>
                    <value>
                        <name>hive-config-resources</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-db-user</key>
                    <value>
                        <name>hive-db-user</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-db-password</key>
                    <value>
                        <name>hive-db-password</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-max-wait-time</key>
                    <value>
                        <name>hive-max-wait-time</name>
                    </value>
                </entry>
                <entry>
                    <key>hive-max-total-connections</key>
                    <value>
                        <name>hive-max-total-connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Principal</key>
                    <value>
                        <name>Kerberos Principal</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Keytab</key>
                    <value>
                        <name>Kerberos Keytab</name>
                    </value>
                </entry>
            </descriptors>
            <name>HIVE DEV</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>hive-db-connect-url</key>
                    <value>jdbc:hive2://172.30.213.122:10000/</value>
                </entry>
                <entry>
                    <key>hive-config-resources</key>
                    <value>/hadoopconf/hive-site.xml,/hadoopconf/core-site.xml,/hadoopconf/hdfs-site.xml</value>
                </entry>
                <entry>
                    <key>hive-db-user</key>
                    <value>admin</value>
                </entry>
                <entry>
                    <key>hive-db-password</key>
                </entry>
                <entry>
                    <key>hive-max-wait-time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>hive-max-total-connections</key>
                    <value>30</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>select 1</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>Kerberos Principal</key>
                </entry>
                <entry>
                    <key>Kerberos Keytab</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.hive.HiveConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>2d3d112e-fcc3-3b15-0000-000000000000</id>
            <parentGroupId>9f2e1d9b-3b05-30ca-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>a0381c59-067d-399f-0000-000000000000</id>
                    <parentGroupId>2d3d112e-fcc3-3b15-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2d3d112e-fcc3-3b15-0000-000000000000</groupId>
                        <id>336220fc-fc9d-3dbf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name>RESULT</name>
                    <source>
                        <groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
                        <id>1c2b65bf-a681-3be9-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e541f7b2-bebe-3d64-0000-000000000000</id>
                    <parentGroupId>2d3d112e-fcc3-3b15-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
                        <id>f74ac813-04fc-388b-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2d3d112e-fcc3-3b15-0000-000000000000</groupId>
                        <id>48d66a12-5aa1-3b29-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>ea126e56-68fe-33ad-0000-000000000000</id>
                    <parentGroupId>2d3d112e-fcc3-3b15-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1080.0106528584174</x>
                        <y>1091.9186438825159</y>
                    </position>
                    <height>76.91101455688477</height>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#cfcdc7</value>
                        </entry>
                    </style>
                    <width>465.50079345703125</width>
                </labels>
                <labels>
                    <id>ed244140-0590-37cb-0000-000000000000</id>
                    <parentGroupId>2d3d112e-fcc3-3b15-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1119.6486959236684</x>
                        <y>608.543562507527</y>
                    </position>
                    <height>180.82017517089844</height>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#f0eee8</value>
                        </entry>
                    </style>
                    <width>552.2843627929688</width>
                </labels>
                <labels>
                    <id>f25c231d-f9ec-371c-0000-000000000000</id>
                    <parentGroupId>2d3d112e-fcc3-3b15-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1117.0140132288186</x>
                        <y>870.2856811756019</y>
                    </position>
                    <height>459.82383728027344</height>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#f0eee8</value>
                        </entry>
                    </style>
                    <width>549.0402374267578</width>
                </labels>
                <processGroups>
                    <id>c69e3b4a-66ee-3ee9-0000-000000000000</id>
                    <parentGroupId>2d3d112e-fcc3-3b15-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1032.5219209545817</x>
                        <y>890.7591899698991</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>2160c642-d028-3f99-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>5c8a6627-309c-3bfe-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
<id>cc37c4ae-2a38-33b6-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>552935b4-7d9b-3cac-bc26-93a0f03bb182</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>229af1d2-6ca4-3912-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>4c3da909-6ef0-3fdf-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Success</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>5c8a6627-309c-3bfe-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>231d86d2-1899-3d21-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>a7a35af1-f721-36d2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Success</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>5428e276-ed9f-3f25-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4dfe0510-3a7f-37fe-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>0422a1ed-a80f-3783-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Success</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>602c1e45-eb4b-3376-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5146f267-950e-3505-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
<id>73a43f26-ab78-39f1-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>d356def1-3af4-3086-a356-cbd88be7f5dd</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>a7a35af1-f721-36d2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>59d163f1-26dd-3cb6-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>1d28f42f-c5fb-368c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>4c3da909-6ef0-3fdf-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6073dce1-8747-3112-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>12eef868-fc2f-3dd3-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>2033d0aa-309c-33ba-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>64eafa69-a064-3e57-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>2033d0aa-309c-33ba-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>bcaf179e-dac6-348c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9260c86c-0ce6-3a55-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>602c1e45-eb4b-3376-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Success</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>5c8a6627-309c-3bfe-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a4b23b58-287d-34da-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>47c1a32f-73f0-3523-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Success</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>5c8a6627-309c-3bfe-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bc3996ff-45dc-3d13-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>6002f8e0-76ac-327f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>a019e8a0-e59b-3673-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d8f1b779-133b-31bd-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>1c2b65bf-a681-3be9-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>6002f8e0-76ac-327f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>db4f09cd-2c3f-313b-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>5428e276-ed9f-3f25-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>f74ac813-04fc-388b-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ded6c75c-c611-374b-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>12eef868-fc2f-3dd3-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>1d28f42f-c5fb-368c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e2d73365-afd9-317b-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>d3a8932c-bcf5-38ca-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>0422a1ed-a80f-3783-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>eb2d8e7c-ab96-384b-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>bcaf179e-dac6-348c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Success</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>47c1a32f-73f0-3523-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f97993d8-a858-3d06-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>12eef868-fc2f-3dd3-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>d3a8932c-bcf5-38ca-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fb6f347c-6eb5-3423-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>a019e8a0-e59b-3673-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>c69e3b4a-66ee-3ee9-0000-000000000000</groupId>
<id>12eef868-fc2f-3dd3-0000-000000000000</id>
<type>FUNNEL</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>12eef868-fc2f-3dd3-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>702.7438681305605</x>
<y>3507.4518269382215</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>f74ac813-04fc-388b-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>605.406831997748</x>
<y>1778.6543834201461</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Input</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>1c2b65bf-a681-3be9-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>605.406831997748</x>
<y>4030.78745831803</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Output</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processGroups>
                            <id>707c53a8-6c86-3aed-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>535.406831997748</x>
<y>2286.1956374593487</y>
                            </position>
                            <comments></comments>
                            <contents>
<connections>
    <id>062cadd9-2724-3b35-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>f20fb5bc-1751-3ee2-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>a6679443-e9d8-3214-88c1-79eb80966ce2</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>f8930697-b57e-3d14-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>1a18e082-d8b0-39de-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>9278daf2-e4ea-3827-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>cb0c9bc6-5bee-3130-b911-2ae380d36c9c</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>278d3529-0b7a-3068-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>258cbc7b-02b1-33f1-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>f8930697-b57e-3d14-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>73a43f26-ab78-39f1-0000-000000000000</id>
        <type>INPUT_PORT</type>
        <versionedComponentId>d356def1-3af4-3086-a356-cbd88be7f5dd</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>2753c4a6-1e75-3c2c-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>3f37299a-e944-3d6b-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>db363a3b-4e2d-3f9d-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>3b3d0c7b-073f-3f56-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <versionedComponentId>ab56b449-3d03-339b-908a-60c940a4fbc6</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>278d3529-0b7a-3068-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>b19f7be8-9b62-3217-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>9baca379-4f83-37e3-94ec-1d088b066642</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>733d5761-8c54-3910-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <versionedComponentId>31500650-3183-3ae2-8e9f-1782af641338</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>62aaf2c4-5023-322b-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>0349defc-32af-3a42-83d3-998767030917</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>eaa634d0-ac37-3fa4-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>2e265fa9-23d5-33e8-90d4-dbbcfe3edb5f</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>9ab3213a-6d04-35c6-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>40c36439-050b-3fc8-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>3f37299a-e944-3d6b-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>9c9bcab9-77d0-3718-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <versionedComponentId>0b8b6150-debe-3ebb-9da9-5d23ae20d40c</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>db363a3b-4e2d-3f9d-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>62aaf2c4-5023-322b-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>0349defc-32af-3a42-83d3-998767030917</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>b0563751-eb6d-364a-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <versionedComponentId>93706b44-4547-3958-9907-f3bcd5eb9b96</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>b19f7be8-9b62-3217-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>9baca379-4f83-37e3-94ec-1d088b066642</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>f20fb5bc-1751-3ee2-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>a6679443-e9d8-3214-88c1-79eb80966ce2</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>be17ef30-8d18-3219-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <versionedComponentId>2eaae19f-1564-3ba3-bc84-a6d79d1d3113</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>eaa634d0-ac37-3fa4-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>2e265fa9-23d5-33e8-90d4-dbbcfe3edb5f</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>e3b9e25f-5ac4-3da2-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>2d4f2f80-ae43-317c-9ac4-c6b95c8af0f9</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>d96b8508-eb88-3cdd-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>cc37c4ae-2a38-33b6-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
        <versionedComponentId>552935b4-7d9b-3cac-bc26-93a0f03bb182</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>40c36439-050b-3fc8-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>fa750d51-96db-3df1-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <versionedComponentId>52c1ff1f-961a-3af4-8a45-cfb62cc291d8</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>e3b9e25f-5ac4-3da2-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>2d4f2f80-ae43-317c-9ac4-c6b95c8af0f9</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>707c53a8-6c86-3aed-0000-000000000000</groupId>
        <id>9278daf2-e4ea-3827-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>cb0c9bc6-5bee-3130-b911-2ae380d36c9c</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<inputPorts>
    <id>73a43f26-ab78-39f1-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2303.183819605667</x>
        <y>-587.4334056742198</y>
    </position>
    <versionedComponentId>d356def1-3af4-3086-a356-cbd88be7f5dd</versionedComponentId>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>Inparams</name>
    <state>STOPPED</state>
    <type>INPUT_PORT</type>
</inputPorts>
<outputPorts>
    <id>cc37c4ae-2a38-33b6-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2303.183819605667</x>
        <y>1895.3718381445724</y>
    </position>
    <versionedComponentId>552935b4-7d9b-3cac-bc26-93a0f03bb182</versionedComponentId>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>Outparams</name>
    <state>STOPPED</state>
    <type>OUTPUT_PORT</type>
</outputPorts>
<processors>
    <id>278d3529-0b7a-3068-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>286.90346857348743</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>$ID_TIPO_DOC_DNI</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>${id_tipo_doc_dni}</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>$ID_TIPO_DOC_DNI-&gt;  ${id_tipo_doc_dni}</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
<processors>
    <id>3f37299a-e944-3d6b-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>1460.712960972849</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>$BANCO2</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>${banco2}</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>$BANCO2 -&gt; ${BANCO2}</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
<processors>
    <id>40c36439-050b-3fc8-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>1664.3128625874333</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>$BANCO3</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>${banco3}</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>$BANCO3 -&gt; ${BANCO3}</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
<processors>
    <id>62aaf2c4-5023-322b-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>1053.7948287853555</y>
    </position>
    <versionedComponentId>0349defc-32af-3a42-83d3-998767030917</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>$ENTIDAD</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>${entidad}</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>$ENTIDAD -&gt; ${entidad}</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
<processors>
    <id>9278daf2-e4ea-3827-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>515.2884200939493</y>
    </position>
    <versionedComponentId>cb0c9bc6-5bee-3130-b911-2ae380d36c9c</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>$ID_TIPO_DOC</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>${id_tipo_doc}</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>$ID_TIPO_DOC -&gt;  ${id_tipo_doc}</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
<processors>
    <id>b19f7be8-9b62-3217-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>67.20110930293367</y>
    </position>
    <versionedComponentId>9baca379-4f83-37e3-94ec-1d088b066642</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>$FILE_FILTER</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>${file_filter}</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>$FILE_FILTER -&gt; ${file_filter}</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
<processors>
    <id>db363a3b-4e2d-3f9d-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>1258.4524887875493</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>$BANCO1</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>${banco1}</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>$BANCO1 -&gt; ${BANCO1}</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
<processors>
    <id>e3b9e25f-5ac4-3da2-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>690.391630543168</y>
    </position>
    <versionedComponentId>2d4f2f80-ae43-317c-9ac4-c6b95c8af0f9</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>$ENTORNO</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>${ENTORNO}</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>$ENTORNO -&gt; ${ENTORNO}</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
<processors>
    <id>eaa634d0-ac37-3fa4-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>871.5475143322305</y>
    </position>
    <versionedComponentId>2e265fa9-23d5-33e8-90d4-dbbcfe3edb5f</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>$SUBENTORNO</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>${ENTORNO:substring(0,2)}</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>$SUBENTORNO -&gt; ${ENTORNO:substring(0,2)}</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
<processors>
    <id>f20fb5bc-1751-3ee2-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>-185.06832086333986</y>
    </position>
    <versionedComponentId>a6679443-e9d8-3214-88c1-79eb80966ce2</versionedComponentId>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>id_tipo_doc</key>
                <value>
                    <name>id_tipo_doc</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>id_tipo_doc</key>
                <value>${entidad:matches('ber'):ifElse('(35)',${entidad:matches('bsf'):ifElse('(10,3)', '(34,35)')})}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Asignar id_tipo_doc</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
<processors>
    <id>f8930697-b57e-3d14-0000-000000000000</id>
    <parentGroupId>707c53a8-6c86-3aed-0000-000000000000</parentGroupId>
    <position>
        <x>-2358.183819605667</x>
        <y>-423.05462803457</y>
    </position>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.0.0-90</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>id_tipo_doc_dni</key>
                <value>
                    <name>id_tipo_doc_dni</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>id_tipo_doc_dni</key>
                <value>${entidad:matches('ber'):ifElse('(31)',${entidad:matches('bsf'):ifElse('(10,3)', '(31)')})}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Asignar id_tipo_doc_dni</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style>
        <entry>
            <key>background-color</key>
            <value>#999999</value>
        </entry>
    </style>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
                            </contents>
                            <name>Fix params</name>
                            <variables/>
                        </processGroups>
                        <processors>
                            <id>0422a1ed-a80f-3783-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>1093.622959530142</x>
<y>3015.2985032380498</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.0.0-90</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>{"archivosHDFS":[${archivos}]}</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Regex Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Fix ff</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>1d28f42f-c5fb-368c-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>14.447527863910409</x>
<y>3203.107859972436</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.0.0-90</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/home/jferreyra/extraccion_fechas.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Raw date extraction</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>2033d0aa-309c-33ba-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>550.406831997748</x>
<y>3203.107859972436</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.0.0-90</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/home/jferreyra/extraccion_fechas.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Landing date extraction</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>47c1a32f-73f0-3523-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>548.863619107123</x>
<y>2814.2159456846507</y>
                            </position>
                            <bundle>
<artifact>nifi-novakorp-ListarDirectorio</artifact>
<group>novakorp</group>
<version>1.4</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>path</key>
        <value>
            <name>path</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>path</key>
        <value>${directorio_archivo_filesystem}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>6666666660 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GOA</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>novakorp.nifi.processors.ListarDirectorio</type>
                        </processors>
                        <processors>
                            <id>4c3da909-6ef0-3fdf-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>12.428332307269784</x>
<y>2814.2159456846507</y>
                            </position>
                            <bundle>
<artifact>nifi-hive-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.0.0-90</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hive Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.hive.HiveDBCPService</identifiesControllerService>
            <name>Hive Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>hive-pre-query</key>
        <value>
            <name>hive-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>hive-query</key>
        <value>
            <name>hive-query</name>
        </value>
    </entry>
    <entry>
        <key>hive-post-query</key>
        <value>
            <name>hive-post-query</name>
        </value>
    </entry>
    <entry>
        <key>hive-fetch-size</key>
        <value>
            <name>hive-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>hive-max-rows</key>
        <value>
            <name>hive-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>hive-max-frags</key>
        <value>
            <name>hive-max-frags</name>
        </value>
    </entry>
    <entry>
        <key>hive-output-format</key>
        <value>
            <name>hive-output-format</name>
        </value>
    </entry>
    <entry>
        <key>hive-normalize-avro</key>
        <value>
            <name>hive-normalize-avro</name>
        </value>
    </entry>
    <entry>
        <key>csv-header</key>
        <value>
            <name>csv-header</name>
        </value>
    </entry>
    <entry>
        <key>csv-alt-header</key>
        <value>
            <name>csv-alt-header</name>
        </value>
    </entry>
    <entry>
        <key>csv-delimiter</key>
        <value>
            <name>csv-delimiter</name>
        </value>
    </entry>
    <entry>
        <key>csv-quote</key>
        <value>
            <name>csv-quote</name>
        </value>
    </entry>
    <entry>
        <key>csv-escape</key>
        <value>
            <name>csv-escape</name>
        </value>
    </entry>
    <entry>
        <key>hive-charset</key>
        <value>
            <name>hive-charset</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hive Database Connection Pooling Service</key>
        <value>9ce064f5-dbba-3aee-0000-000000000000</value>
    </entry>
    <entry>
        <key>hive-pre-query</key>
    </entry>
    <entry>
        <key>hive-query</key>
        <value>show partitions ${ENTORNO:substring(0,2)}_${entidad}_1raw.${raw_tabla_hive_destino}</value>
    </entry>
    <entry>
        <key>hive-post-query</key>
    </entry>
    <entry>
        <key>hive-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>hive-max-rows</key>
        <value>0</value>
    </entry>
    <entry>
        <key>hive-max-frags</key>
        <value>0</value>
    </entry>
    <entry>
        <key>hive-output-format</key>
        <value>CSV</value>
    </entry>
    <entry>
        <key>hive-normalize-avro</key>
        <value>false</value>
    </entry>
    <entry>
        <key>csv-header</key>
        <value>true</value>
    </entry>
    <entry>
        <key>csv-alt-header</key>
    </entry>
    <entry>
        <key>csv-delimiter</key>
        <value>|</value>
    </entry>
    <entry>
        <key>csv-quote</key>
        <value>true</value>
    </entry>
    <entry>
        <key>csv-escape</key>
        <value>true</value>
    </entry>
    <entry>
        <key>hive-charset</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RAW</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.hive.SelectHiveQL</type>
                        </processors>
                        <processors>
                            <id>5428e276-ed9f-3f25-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>550.406831997748</x>
<y>1896.0075919830258</y>
                            </position>
                            <bundle>
<artifact>nifi-novakorp-GetParametersFromAtlas</artifact>
<group>novakorp</group>
<version>1.1.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>AtlasGlossaryTerm name</key>
        <value>
            <name>AtlasGlossaryTerm name</name>
        </value>
    </entry>
    <entry>
        <key>Atlas Api url</key>
        <value>
            <name>Atlas Api url</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Term backup location</key>
        <value>
            <name>Term backup location</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>AtlasGlossaryTerm name</key>
        <value>${atlas_term}</value>
    </entry>
    <entry>
        <key>Atlas Api url</key>
        <value>${ATLAS_API}</value>
    </entry>
    <entry>
        <key>Username</key>
        <value>atlasadmin</value>
    </entry>
    <entry>
        <key>Password</key>
        <value>xNB8lZ!Dut</value>
    </entry>
    <entry>
        <key>Term backup location</key>
        <value>${ATLAS_TERMS_VAULT}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetParametersFromAtlas</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>novakorp.nifi.processors.GetParametersFromAtlas</type>
                        </processors>
                        <processors>
                            <id>5c8a6627-309c-3bfe-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>550.406831997748</x>
<y>2553.165126132334</y>
                            </position>
                            <bundle>
<artifact>nifi-novakorp-jsonToAttributes</artifact>
<group>novakorp</group>
<version>1.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jsonInput</key>
        <value>
            <name>jsonInput</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jsonInput</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>JsonToAttributes</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>novakorp.nifi.processors.JsonToAttributes</type>
                        </processors>
                        <processors>
                            <id>6002f8e0-76ac-327f-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>550.406831997748</x>
<y>3815.6682237419673</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.0.0-90</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/home/jferreyra/comparador_fechas.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Date comparison</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>602c1e45-eb4b-3376-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>1092.6206851222678</x>
<y>2814.2159456846507</y>
                            </position>
                            <bundle>
<artifact>nifi-novakorp-ListarelHDFS</artifact>
<group>novakorp</group>
<version>1.4</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>path</key>
        <value>
            <name>path</name>
        </value>
    </entry>
    <entry>
        <key>CORE-SITE.XML</key>
        <value>
            <name>CORE-SITE.XML</name>
        </value>
    </entry>
    <entry>
        <key>HDFS-SITE.XML</key>
        <value>
            <name>HDFS-SITE.XML</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>path</key>
        <value>${directorio_archivo_hdfs}</value>
    </entry>
    <entry>
        <key>CORE-SITE.XML</key>
        <value>/hadoopconf/core-site.xml</value>
    </entry>
    <entry>
        <key>HDFS-SITE.XML</key>
        <value>/hadoopconf/hdfs-site.xml</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>234234320 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>HDFS</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>novakorp.nifi.processors.ListarElHDFS</type>
                        </processors>
                        <processors>
                            <id>a019e8a0-e59b-3673-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>550.406831997748</x>
<y>3611.8654292337196</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.0.0-90</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Merge Strategy</key>
        <value>
            <name>Merge Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>
            <name>Merge Format</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
        <value>
            <name>Correlation Attribute Name</name>
        </value>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>
            <name>mergecontent-metadata-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>
            <name>Minimum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>
            <name>Maximum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>
            <name>Minimum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
        <value>
            <name>Maximum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Max Bin Age</key>
        <value>
            <name>Max Bin Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>
            <name>Maximum number of Bins</name>
        </value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>
            <name>Delimiter Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Header File</key>
        <value>
            <name>Header File</name>
        </value>
    </entry>
    <entry>
        <key>Footer File</key>
        <value>
            <name>Footer File</name>
        </value>
    </entry>
    <entry>
        <key>Demarcator File</key>
        <value>
            <name>Demarcator File</name>
        </value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>
            <name>Compression Level</name>
        </value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>
            <name>Keep Path</name>
        </value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>
            <name>Tar Modified Time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Merge Strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>Binary Concatenation</value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep Only Common Attributes</value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>Do Not Merge Uncommon Metadata</value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>3</value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>1000</value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
    </entry>
    <entry>
        <key>Max Bin Age</key>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Header File</key>
    </entry>
    <entry>
        <key>Footer File</key>
    </entry>
    <entry>
        <key>Demarcator File</key>
        <value>
</value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>${file.lastModifiedTime}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Date unification</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.MergeContent</type>
                        </processors>
                        <processors>
                            <id>a7a35af1-f721-36d2-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>550.406831997748</x>
<y>2076.8842360921612</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.0.0-90</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-default</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>{
"entidad":"${entidad}",
"id_pipeline":"${id_pipeline}",
"update_table_raw":"${update_table_raw}",
"update_table_cur":"${update_table_cur}",
"foto_mensual_cur":"${foto_mensual_cur}",
"fuente":"${fuente}",
"wait_dependencies_raw":"${wait_dependencies_raw}",
"wait_dependencies_cur":"${wait_dependencies_cur}",
"atlas_term":"${atlas_term}",
"fecha_proceso":"${fecha_proceso}",
"filename":"${filename}",
"ref_pre_query_hbase":"${ref_pre_query_hbase}",
"ref_post_query_hbase":"${ref_post_query_hbase}"
}</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set Parametros Locales</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>bcaf179e-dac6-348c-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>550.406831997748</x>
<y>3015.2985032380498</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.0.0-90</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>{"archivosLanding":[${archivos}]}</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Regex Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Fix ff</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>d3a8932c-bcf5-38ca-0000-000000000000</id>
                            <parentGroupId>c69e3b4a-66ee-3ee9-0000-000000000000</parentGroupId>
                            <position>
<x>1095.097682497756</x>
<y>3203.107859972436</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.0.0-90</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/home/jferreyra/extraccion_fechas.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>HDFS date extraction</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#999999</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                    </contents>
                    <name>Process</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>336220fc-fc9d-3dbf-0000-000000000000</id>
                    <parentGroupId>2d3d112e-fcc3-3b15-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1017.5219209545817</x>
                        <y>1190.0836749400328</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.0.0-90</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Finish</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#999999</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>48d66a12-5aa1-3b29-0000-000000000000</id>
                    <parentGroupId>2d3d112e-fcc3-3b15-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1017.5219209545817</x>
                        <y>636.6681399653484</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.0.0-90</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>atlas_term</key>
<value>
    <name>atlas_term</name>
</value>
                            </entry>
                            <entry>
<key>entidad</key>
<value>
    <name>entidad</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>atlas_term</key>
<value>riesgos_legajo_digital</value>
                            </entry>
                            <entry>
<key>entidad</key>
<value>bsc</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>4234234230 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Starter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#999999</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
            </contents>
            <name>jf_comparador_fechas</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>12/20/2021 17:11:44 ART</timestamp>
</template>
